<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<modules>
		<module id="users" class="HospitalUserManager"/>
		<module id="pacientes" class="PacientesManager"/>
		<module id="auth" class="TAuthManager" UserManager="users" LoginPage="Login" />
		<module id="sqlmap" class="TSqlMapConfig" ConfigFile="protected/sqlmap.xml">
			<database ConnectionString="mysql:host=localhost;dbname=hospital" username="root" password="7568441968"/>
		</module>
	</modules>
	<authorization>
		<allow pages="Login" users="?" />
		<allow roles="normal" />
		<deny users="*" />
	</authorization>
</configuration>

